_site
.sass-cache



aulas/slides/parte01/.Rhistory

aulas/slides/parte02/.Rhistory

.Rhistory

aulas/slides/parte03/.Rhistory

aulas/slides/parte03/.Rhistory

aulas/slides/parte04/.Rhistory

aulas/slides/parte03/.Rhistory

aulas/slides/parte04/.Rhistory
.Rproj.user
